@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    font-family: 'Afacad', sans-serif !important ;
    margin: 0;
    padding: 0;
    background-color: #fefefe;

  }
/* ขนาดหน้าจอ */
  .container {
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
  } 
  

/* พทหลัง Header */
    .header-Recom {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: flex-start;
        padding: 0px;
        background-color: #FFE5E6  ;
        border : 5px;
    }
/* 
หัวข้อ Products Recommendation
    h1 {
    margin: 0;
    color: #333;
    font-size: 1.5em;
    }  */

/* Main Content */
    .main-content {
        display: flex;
        flex-direction: column;
    }

/* แบ่งพื้นที่ Products และ Recommended Products */
    .product-container {
        display: flex;
        gap:0 px;
        background-color: rgb(14, 14, 14);
       }

       .Products-Recommendation {
        font-size: 1.5em;
        font-weight: bold;
        justify-content: center; 
        align-items: center; 
        margin-left: 610px;
        text-align: center; 
        height: 100%; 
    }
    
   