/* ปุ่ม hear */
/* ปุ่มกลับ */
.new-back-button {
    display: flex;
    font-size: 2em; 
    color: #ffffffe0;
    justify-content: center;      /* จัดให้อยู่ตรงกลางแนวนอน */
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #ff9a9e;
    margin: 5px 10px;        
    border: none;
    padding: 2px 10px 6px;
}

.new-back-button img {
    height: 30px;
    width: 30px;
}

.back-button:hover {
    background-color: #c7bcbce0;
    transform: none; /* ลบการขยายขนาดหรือการเคลื่อนไหว */
    box-shadow: none;
}

/* ------------------------------------------------- */

/* ปุ่มเลือกประเภทสินค้า */
.category-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 0.9em; 
    margin-bottom: 10px;
}

/* ปุ่มเลือกประเภทสินค้า */
.buttons button {
    font-family: 'Afacad', sans-serif;
    font-weight: bold;
    padding: 2px 15px;
    border: 3px solid #FCBABC;  /*ขอบปุ่ม*/
    border-radius: 30px; /*มุมโค้งของปุ่ม*/
    background-color: #ffffff; 
    color: #FCBABC; /*สีตัวอักษร*/
    cursor: pointer; 
    width: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 0;
}

/* ปุ่มสประเภทเมื่อนำเมาสืไปจิ้มเเล้วจะเปลี่ยนสี */
.category-buttons button:hover {
background-color: #FCBABC;
color: white;
}

.category-buttons button.active {
background-color: #FCBABC;
color: white;
}

/* ปุ่ม navigation (next, back) */
.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


/* ----------------------------------------------- */
/* ปุ่ม BUY Next Back เมื่อไม่มีการกดหรืออะไรจะเป็นสีชมพู */
.navigation-buttons button {
    width: auto;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FFE6E6;
    color: black;
    font-size: 0.9em;
}

/* ปุ่มไม่สามารถกดได้ ของ Back Next*/
.navigation-buttons button:disabled {
    background-color: #c7c6c6;
    cursor: not-allowed;
}

/* สีของปุ่ม BUY Next Back */
.navigation-buttons button:hover:not(:disabled) {
    background-color: #FCBABC;
}

.new-buy-button {
    width: auto;
    padding: 10px 15px;
    border: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FFE6E6;
    color: black;
    font-size: 0.9em;
    margin-top: 10px;
    margin-right: 10pX;
}
