/* AdminPage container styling */
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Responsive Design */
@media (max-width: 768px) {
    .add-product-form-container {
        width: 90%;
        padding: 20px;
    }
}

body {
    background-color: #FEE7E8 !important;
}

/* พื้นหลังฟอร์ม */
.add-product-form-container {
    font-family:'Afacad', sans-serif;
    background-color: #fff; /* Form background */
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 100%;
    margin: auto;
    position: relative;
    margin-top: auto;
    top: 20px;
}

/* Close Button */
.add-product-form-container .close-btn {
    font-family:'Afacad',sans-serif;
    position: absolute;
    padding: 0px;
    top: 8px;
    right: 16px;
    background: #ffb3b3;
    color: #000;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    line-height: 8px;
    margin-top: 5px;
}

.add-product-form-container .close-btn:hover {
    background: #FD9296;

}

/* Form Styling */
.add-product-form-container .add-product-form {
    font-family:'Afacad', sans-serif;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ช่องกรอก input */
.add-product-form-container .input-field,
.add-product-form-container .textarea-field {
    color: #000;
    font-family:'Afacad', sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    background: #eaebec;
    font-size: 17px;
    box-sizing: border-box;
}

.add-product-form-container .textarea-field {
    font-family:'Afacad', sans-serif;
    height: 100px;
    resize: none;
}

/* File Upload */
.add-product-form-container .file-upload {
    font-family:'Afacad', sans-serif;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    background-color: #eaebec;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #e6e6e6;
    margin-top: 20px;
}

.add-product-form-container .file-upload input[type="file"] {
    font-family:'Afacad', sans-serif;
    font-size: 15px;
    cursor: pointer;
    background-color: #d8dadb;
    color: #000;
}


/* Submit Button */
.add-product-form-container .submit-btn {
    font-family:'Afacad', sans-serif;
    font-size: 17px;
    background: #FD9296;
    color: #fff;
    border: none;
    padding: 14px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.add-product-form-container .submit-btn:hover {
    background: #FD9296;
}

/* ปุ่มราคา */
.price-btn {
    font-family:'Afacad', sans-serif;
    font-size: 17px;
    flex: 1;
    color: #5d5d5d;
    background-color: #ffdede;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.price-btn:hover {
    background-color: #ffcccc;
    border-color: #FD9296;
}

.price-btn.selected {
    background-color: #FD9296; /* สีแดงสำหรับสถานะที่เลือก */
    color: white;
    /* border-color: #FD9296; */
}

/* Form Row */
.form-row {
    font-family:'Afacad';
    display: flex;
    justify-content: space-between; /* ระยะห่างระหว่าง input */
    gap: 20px; /* ระยะห่างระหว่าง input */
}

.form-row .input-field {
    font-family:'Afacad';
    flex: 1; /* ให้ช่อง input ขยายตัวตามพื้นที่ */
}

/* ช่องหรอก */
.ingredients-field {
    font-family:'Afacad';
    font-family:'Afacad', sans-serif;
    font-size: 17px;
    display: flex;
    align-items: baseline;
    justify-content: space-between; 
    gap: 10px; 
    width: 600px;
}

.ingredients-btn {
    font-family:'Afacad';
    font-size: 17px;
    background: #FD9296;
    color: #fff;
    width: 200px;
    padding: 7px;
}

.remove-btn {
    font-family:'Afacad', sans-serif;
    font-size: 16px;
    background: #FD9296;
    color: #fff;
    width: auto;
    padding: 5px;
    margin-right: 10px;
    border: none;
}

.ingredient-item {
    margin-top: 5px;
    list-style: none
}

.related-products-list {
    margin-top: 16px;
    list-style: none
}

.related-product-item {
    margin-top: 5px;
}



.related-products-field {
    font-family:'Afacad';
    font-size: 17px;
    display: flex;
    align-items: baseline;
    justify-content: space-between; /* ระยะห่างระหว่าง input */
    gap: 10px; /* ระยะห่างระหว่าง input */
    /* margin-bottom: 20px; เว้นช่องว่างระหว่าง row */
    width: 600px;
}

.related-products-btn {
    font-family:'Afacad', sans-serif;
    font-size: 17px;
    background: #FD9296;
    color: #fff;
    width: 260px;
    padding: 7px;
}


.form-group {
    font-family:'Afacad', sans-serif;
    display: flex;
    justify-content: space-between; /* ระยะห่างระหว่าง input */
    gap: 20px; /* ระยะห่างระหว่าง input */
}

.typefrom {
    font-family:'Afacad', sans-serif;
    background-color: #FD9296;
    color: #fff;
    width: auto;
    border: none;
    padding: 5px;
    height: 45px;
    margin-top: 8px;
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.add-product-title {
    font-family:'Afacad', sans-serif;
    text-align: center;
    margin-bottom: 0px;
}

.ingredient-container {
    font-family:'Afacad';
    /* border: #000 2px solid; */
    flex-direction: column;
    width: auto;
    margin: 0px;    
    gap: 0px;
    padding: 0px;
}