.login-page {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(180deg, #f7d5e3, #e3c8f1);
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 1400px;
    height: 570px;
    padding: 30px;
    gap: 30px;
}

.login-image {
    flex: 3; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.login-form {
    flex: 1.5;
    padding: 100px;
}

.login-form h2 {
    font-size: 4rem;
    align-items: baseline;
    margin-bottom: 50px;
    color: #532d63;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #000;
}

.btn-submit {
    width: 100%;
    background-color: #ff8aa5;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #ff647c;
}

.login-form p {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #555;
    text-align: center;
}

.login-form a {
    color: #6c3483;
    text-decoration: none;
    font-weight: bold;
}

.login-form a:hover {
    text-decoration: underline;
}

/* Close Button */
.close-btn-log {
    position: absolute;
    top: 60px;
    right: 160px;
    background: #ff8aa5;
    color: #532d63;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 42px;
    font-weight: bold;
    cursor: pointer;
    /* text-align: center; */
    line-height: 8px;
    /* transition: background-color 0.3s ease; */
}

.close-btn-log:hover {
    background: #ff8080;
}

/* Responsive Design */
@media (max-width: 768px) {
    .login-page {
        width: 90%;
        padding: 20px;
    }
}
