@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    font-family: 'Afacad'!important; 
    background-color: #FFFFFF !important;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 10vh;
}

h5 {
    font-size: 40px;
    color: #534747;
    background-color: #FFE5E6;
}

h6 {
    font-size: 20px;
    color: #534747;
    background-color: #FFE5E6;
}

.button-home-register {
    background-color: #534747;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    width: fit-content;
    padding: 10px 20px;
    align-items: center;
    margin: 10px;
}

.register-container {
    background-color: #FFE5E6;
    padding: 30px ;
    border-radius: 20px;
    width: auto;
}

.form-box {
    background-color: #ffffff;
    border: #FCBABC solid 2px;
    border-radius: 20px;
    padding: 30px 40px;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  input {
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #534747; /* Set text color to a visible dark shade */
    background-color: #FFFFFF; /* Ensure background remains white */
}